/* Your Website Styles */


body{
	background-color: fuchsia;
	}

	p {
		font-family: raleway;
		font-weight: bold;
		color: white;
		width: 500px;
		position: relative;
		left: 460px;
		text-align: justify;
	}
	

	


h1 {
	font-family: gabriola;
	font-size: 2em;
	text-align: center;
	border-bottom: solid white;

	
}

h2 {
	font-family: felix titling;
	text-align: center;
}

img {
	position: relative;
	left: 460px;
	border: solid white;
	width: 600px;
	height: 750px;
}