/* Your Website Styles */



body{
	background-color: fuchsia;
	}

	p {
		font-family: raleway;
		font-weight: bold;
		color: ;
		width: 500px;
		position: relative;
		left: 515px;
		text-align: justify;}


h1 {
	font-family: gabriola;
	font-size: 3em;
	letter-spacing: 4px;
	text-align: center;
	border-bottom: solid white;
	color: ;
	}

h2 {
	font-family: felix titling;
	text-align: center;
color:;}

img {
	position: relative;
	left: 460px;
	border: solid white;
	width: 600px;
	height: 750px;}